<template>
  <nav class="flex items-end justify-end flex-wrap bg-blue-500 p-6">
    <button
      @click="logout"
      class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white  lg:mt-0 sm:flex-grow-0 flex-grow"
    >
      Logout
    </button>
  </nav>

  <div class="flex items-center justify-start h-64">
    <div class="w-full sm:max-w-xs mx-2">
      <div class="bg-white shadow-md rounded pb-8 mb-4 ">
        <div class="py-2 bg-blue-700 rounded text-center">
          <h1 class=" text-white font-semibold text-lg">Server</h1>
        </div>
        <div class="px-6 py-2 text-left"><strong>Status: </strong>{{ connectionStatus }}</div>
        <div class="px-6 pt-2 text-left"><strong>Time: </strong> {{ serverTime }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  name: 'Home',
  methods: {
    logout() {
      this.$store.dispatch('Authorization/logout').then(() => {
        window.socket.onclose = () => {}
        window.socket.close()
        this.$router.push('/login')
      })
    },
    connectToServer() {
      this.$store.dispatch('Server/connect').catch(() => {
        this.$store.dispatch('Authorization/logout').then(() => {
          this.$router.push('/login')
        })
      })
    }
  },
  computed: {
    serverTime() {
      return moment.unix(this.$store.state.Server.time).format('DD.MM.yy HH:mm:ss')
    },
    connectionStatus() {
      return this.$store.state.Server.connectionStatus
    }
  },
  mounted() {
    this.connectToServer()
  }
}
</script>
