<template>
  <div class="flex items-center justify-center h-screen">
    <form @submit="login" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username"> username </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="username"
          type="text"
          placeholder="username"
          v-model="username"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password"> Password </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="password"
          type="password"
          placeholder="Password"
          v-model="password"
        />
      </div>

      <div class="flex items-center justify-between">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline sm:flex-grow-0 flex-grow"
          @click="login"
        >
          Submit
        </button>
      </div>
      <div
        v-if="error"
        class="bg-red-100 border border-red-400 text-sm text-red-700 px-2 py-1 mt-2 rounded relative"
        role="alert"
      >
        <span class="block sm:inline">{{ error }}</span>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      username: null,
      password: null,
      error: null,
      errorQty: 0
    }
  },
  methods: {
    login(e) {
      e.preventDefault()
      this.error = null
      this.$store
        .dispatch('Authorization/login', { username: this.username, password: this.password })
        .then(() => {
          this.$router.push('/')
        })
        .catch(err => {
          switch (err.response.status) {
            case 400:
              this.error = 'Неверные данные'
              break

            case 401:
              this.error = 'Неверный логин или пароль'
              break

            case 500:
              ++this.errorQty
              this.error = 'Внутренняя ошибка сервера'
              break

            default:
              ++this.errorQty
              break
          }
        })
    }
  },
  watch: {
    errorQty(value) {
      if (value >= 3) this.error = 'Неизвестная ошибка'
    }
  }
}
</script>


